
.hotrokh_sachNoiBat{
	.hotro_kh{
		padding:0px;
	}
	.sachNoiBat{
		padding:0px 0px 25px 0px;
		margin-top:22px;
	}
	// top
	.top{
		height: 40px;
		h2{
			margin:0px;
			text-align:center;
			font-size: 12px;
		    font-weight: bold;
		    letter-spacing: 1.5px;
		    text-transform: uppercase;
		    line-height:40px;
		    background: #444242;
			a{
				color:#e4e0e0;
				&:hover{
					color:#fff;
				}
			}
			.text-title{
				color:#e4e0e0;
			}
		    .glyphicon{
		    	font-size: 11px;
		    	font-weight: normal;
		    	color: #666666;
		    }
			@include tablets{
				font-size: 12px;
				letter-spacing:0px;
			}
		}
	}
	//kt top
	
	//grid_group_htkh
	.grid_group_htkh{
		margin-top: -10px;
		.group_hotrokh{
			margin:10px;
			border-top:1px solid #eaeaea;
			padding: 15px 5px 2px 5px;
			line-height:30px;
			@include notTablets{
				margin:10px 0px;
			}
		}
	}
	//kt grid_group_htkh
	
	// grid_group_sp
	.grid_group_sp{
			margin-top: -10px;
		
			.group_sp{
				margin:10px;
				border-top:1px solid #eaeaea;
				float: left;
					padding: 30px 5px 5px 5px;
				@include notTablets{
					margin:10px 0px;
				}
				.anh_sp{
					width:35% !important;
					float: left;
					display: inline-block;
					position: relative;
					&:hover{
						.them_gh{
							opacity:0.8;
							display: inline-block;
							.text{
								color:#fff;
							}
							&:hover{
								opacity:1;
								background: #F47920;
								display: inline-block;
							}
						}
					}
					a{
						width: 100%;
						display: inline-block;
						img{
							width: 100% !important;
						}
					}
					.them_gh{
						position: absolute;
						bottom:40%;
						left: 0;
						z-index: 2;
						display: none;
						background: #333;
						width: 100%;
						height: 30px;
						line-height: 30px;
						text-align:center;
						font-size: 10px;
						color: #fff;
						.text{
							color:#fff;
						}
					}
				}
				.tensp_giasp{
					width: 62% !important;
					float: left;
					margin-left: 3%;
					.tensp{
						margin:0;
						height: 54px;
						font-size: 1.5rem;
						line-height: 18px;
						text-align: left;
						@include notTablets{
							text-align: center;
						}
					}
					.giasp{
						height: 42px;
						font-size:12px;
						line-height: 18px;
						.gia_goc{
							color:#333;
							display: inline-block;		
							@include notTablets{
								left:25%;
							}					
						}
						.chi_tiet{
							margin-left: 5px;
							display: inline-block;
							padding:4px 7px;
							background-color:#F47920;
							border-radius: 3px;
							color:#fff;
							font-weight: bold;
							text-decoration: none;
						}
					}
				}
			}
	}
	// kt grid_group_sp
}
// kt right